Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.2

https://github.com/yt-dlp/yt-dlp/archive/b095fd3fa9d58a65dc9b830bd63b9d909422aa86.zip

beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
requests
tgcrypto
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
