Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.2

https://github.com/tropicoo/yt-dlp-bot/archive/b7a79a7aab00f0e85df1f96adc4bef6034df3bf9.zip

beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
requests
tgcrypto
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
